@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');


body{
    background-color: #0A0A0A;
    color: white !important;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: white;
}

a{
    color: inherit;
}

a:visited{
    color: inherit;
}


.btn{
    width: 240px;
    height: 52px;
    border: #00FFFF solid 2px;
    filter: drop-shadow(0, 4, 4, rgba(215, 215 ,215));
    background: none;
    color: white;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

h2{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-size: 48px;   
    line-height: 120%; 
    margin-top: 26px;
    margin-bottom: 32px;
}

h3{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    margin: 14px 0;
}

h4{
    font-weight: 300;
    font-size: 24px; 
    margin: 0; 
}



p{
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 150%;
}

/*-- NAVBAR--*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 32px;
    padding-right: 32px;
    border-bottom: 1px solid white;
}

.logo{
    display: flex;
    width: 194px;
    height: 24px;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    color: white;
}

.nav-links a{
    cursor: pointer;
}

.btn#contact-btn{
    width: 92px;
    height: 32px;
    margin-left: 32px;
    font-size: 16px;
}

/*-- NAVBAR end--*/


/*-- HERO--*/
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 102px 120px 102px 120px; 
    height: 100vh;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}
/*-- HERO text--*/
h1 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 96px;
  line-height: 120%;
  margin-top: 12px;
  margin-bottom: 28px;
}

#hero-p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 28px;
    width: 480px;
}
/*-- HERO-text-end--*/

/*-- HERO-blobs--*/

.blob-1{
    background: #7B2FF7;
    background: linear-gradient(90deg, rgba(123, 47, 247, 1) 0%, rgba(241, 7, 163, 1) 100%);
    height: 600px;
    width: 600px;
    border-radius: 360px;
    filter: blur(70px);
    position: absolute;
    z-index: -10;

}

.blob-2{
    background: #00FF80;
    background: linear-gradient(90deg, rgba(0, 255, 128, 1) 0%, rgba(21, 7, 166, 1) 100%);
    height: 320px;
    width: 320px;
    border-radius: 360px;
    filter: blur(100px);
    position: absolute;
    z-index: -10;
    bottom: 15%;
    left: 45%;
}

.blob-3{
    background: #A100FF;
    background: linear-gradient(90deg, rgba(161, 0, 255, 1) 0%, rgba(7, 241, 15, 1) 100%);
    height: 260px;
    width: 260px;
    border-radius: 360px;
    filter: blur(150px);
    position: absolute;
    z-index: -10;
    top: 20%;
    right: 15%;
}

/*-- HERO-blobs-end--*/


/*-- HERO-people--*/
.people-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 52px;
}

.people-group{
    display: flex;
    align-self: auto;
}


#people-text{
    width: 126px;
    font-size: 12px;
    margin: 0 12px;
}

.people-circle{
    border-radius: 360px;
    width: 32px;
    height: 32px;
    background-color: white;
    border: 0.2px solid white;
}

.people-circle:nth-child(1){
    background-image: url("/assets/images/img1.jpg");
    background-size: cover;
    background-position: center;
}

.people-circle:nth-child(2){
    background-image: url("/assets/images/img2.jpg");
    background-size: cover;
    background-position: center;
}

.people-circle:nth-child(3){
    background-image: url("/assets/images/img3.jpg");
    background-size: cover;
    background-position: center;
}

.people-circle:nth-child(4){
    background-image: url("/assets/images/img4.jpg");
    background-size: cover;
    background-position: center;
}

.people-circle:nth-child(5){
    background-image: url("/assets/images/img5.jpg");
    background-size: cover;
    background-position: center;
}

.people-circle:not(:first-child){
    margin-left: -16px;
}

.people-circle:hover {
    transform: scale(1.1);
    z-index: 10;
    transition: transform 0.2s ease;
}
/*-- HERO-people-end--*/

/*-- Motion--*/

.motion-section{
    padding-top: 124px;
    padding-bottom: 124px;
    position: relative;
    overflow: hidden;
}

.motion-content{
    display: flex;
    gap: 40px;
    position: relative;
    z-index: 2;
}

#motion-video{
    width: 626px;
    height: 354px;
    border: 1px solid white;
}

.logo-and-section{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

#motion-h2{
    max-width: 500px;
    font-family: "Space Grotesk", sans-serif;
    margin: 26px 0 32px 0;
}

#motion-p{
    width: 500px;
    margin-bottom: 24px;
}

/*---Petals---*/

.background-petals{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 0;
}

#petal-1,
#petal-2,
#petal-3,
#petal-4 {
  position: absolute;
  width: 140px;
  height: auto;
  opacity: 0.9;
  transform-origin: center;
}

#petal-1 { top: 35%; left: 9%; transform: rotate(-45deg); }
#petal-2 { top: 10%; right: 44%; transform: rotate(55deg); }
#petal-3 { bottom: 0%; left: 40%; transform: rotate(10deg); }
#petal-4 { bottom: 12%; right: 15%; transform: rotate(-70deg); }

/*---Petals end---*/


/*---Craft---*/

.craft-section{
    padding: 124px 0;
    position: relative;
    overflow: hidden;
}

.craft-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*---Craft cards---*/

.craft-cards{
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 32px;
    gap: 40px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
    text-align: center;
}

.card img{
    width: 324px;
    height: 222px;
    object-fit: cover;
    background-position: center;
    border: 1px solid white;
    border-radius: 8px;
}

.card p{
    width: auto;
    margin: 16px 0;
}

/*---Craft cards end---*/


/*---Craft and Process content---*/

.section-content{
    text-align: center;
}

.section-content .logo-and-section{
    justify-content: center;
}


.content-p{
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 150%;  
}

.Line {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: auto;
  z-index: -5;
}

/*---Craft and Process content end---*/

/*---Process content---*/

.process-section{
    padding: 124px 0;
    position: relative;
    overflow: hidden;
}

.buttons-wrapper{
    margin: 32px 0;
}

#insights{
    border: none;
    width: auto;
    height: auto;
    margin-left: 40px;
}

#process-p{
    width: 800px;
    margin: 0 auto;
}
/*---Process content end---*/

/*---Process images---*/
.process-wrapper {
  position: relative;
  width: 100%;
  height: 646px;
  margin-top: 64px;
}

.process-step {
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 1px solid white;
  border-radius: 8px;
}

.step-1 {
  background-image: url('/assets/images/process1.png');
  width: 832px;
  height: 600px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.step-2 {
  background-image: url('/assets/images/process2.png');
  width: 352px;
  height: 460px;
  right: 10%;
  top: 30%;
}

.step-3 {
  background-image: url('/assets/images/process3.png');
  width: 330px;
  height: 246px;
  left: 5%;
  bottom: 25%;
}

.process-step p {
  position: absolute;
  font-family: "Space Grotesk", sans-serif;
  bottom: 0;
  left: 4%;
  color: white;
  font-size: 48px;
  margin: 0;
}

/*---Process images end---*/

/*---CTA Section---*/
.cta-section{
    text-align: center;
    padding: 124px 0;
    position: relative;
    overflow: hidden;
}

#cta-h2{
    font-size: 64px;
}

.cta-section p{
    width: 520px;
    margin: 16px auto;
}

.buttons-wrapper #quote{
    background-color: #535353;
    margin-left: 18px;
}

/*---CTA Section end---*/

/*---NovaMotion Video---*/
.NovaMotion-video {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Nova-video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.NovaMotion-video h2 {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  color: white;
}
/*---NovaMotion Video end---*/

/*---Footer---*/

footer{
    padding-top: 64px;
    padding-bottom: 124px;
    margin: 0 92px;
}

footer .logo{
    position: relative;
}

footer .logo-and-section{
    position: absolute;
    top: 0;
}

footer h4{
    font-size: 20px;
}

footer h5{
    font-size: 20px;    
    margin-bottom: 36px;
    margin-top: 0;
}

footer a{
    font-size: 18px;
    color: white;
    opacity: 0.7;
    margin-bottom: 12px;
}

.footer-grid{
    display: grid;
    grid-template-columns: 0.75fr 0.5fr 0.5fr 0.5fr 1fr;
}


.links-wrapper {
    display: flex;
    flex-direction: column;
}

.subscribe{
    width: 432px;
}

.subscribe p{
    margin: 22px auto;
}

#small-text{
    font-size: 12px;
    margin-top: 12px;
}

.subscribe-input{
    display: flex;
    align-items: center;
    gap: 16px;
}

.subscribe input{
    width: 300px;
    background-color: #D9D9D9;
    opacity: 0.25;
    border-radius: 8px;
    height: 40px;
}

.subscribe button{
    width: 120px;
}

.footer-line{
    height: 1px;
    width: 100%;
    background-color: white;
    margin: 28px auto;
}

.policy-div{
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
}

.policy-div a, p{
    margin: 0;
}

.icons-div{
    gap: 12px;
}

.icons-div a{
    opacity: 1;
}

/*---Footer end---*/