@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');


body{
    background-color: #0A0A0A;
    color: white !important;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: white;
}

a{
    color: inherit;
}

a:visited{
    color: inherit;
}


.btn{
    width: 240px;
    height: 52px;
    border: #00FFFF solid 2px;
    filter: drop-shadow(0, 4, 4, rgba(215, 215 ,215));
    background: none;
    color: white;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

h4{
    font-weight: 300;
    font-size: 24px; 
    margin: 0; 
}

h2{
    font-weight: 300;
    font-size: 48px;   
    line-height: 120%; 
}

/*-- NAVBAR--*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 32px;
    padding-right: 32px;
    border-bottom: 1px solid white;
}

.logo{
    display: flex;
    width: 194px;
    height: 24px;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    color: white;
}

.nav-links a{
    cursor: pointer;
}

.btn#contact-btn{
    width: 92px;
    height: 32px;
    margin-left: 32px;
    font-size: 16px;
}

/*-- NAVBAR end--*/


/*-- HERO--*/
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 102px 120px 102px 120px; 
    height: 100vh;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}
/*-- HERO text--*/
h1 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 96px;
  line-height: 120%;
  margin-top: 12px;
  margin-bottom: 28px;
}

#hero-p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 28px;
    width: 480px;
}
/*-- HERO-text-end--*/

/*-- HERO-blobs--*/

.blob-1{
    background: #7B2FF7;
    background: linear-gradient(90deg, rgba(123, 47, 247, 1) 0%, rgba(241, 7, 163, 1) 100%);
    height: 600px;
    width: 600px;
    border-radius: 360px;
    filter: blur(70px);
    position: absolute;
    z-index: -10;

}

.blob-2{
    background: #00FF80;
    background: linear-gradient(90deg, rgba(0, 255, 128, 1) 0%, rgba(21, 7, 166, 1) 100%);
    height: 320px;
    width: 320px;
    border-radius: 360px;
    filter: blur(100px);
    position: absolute;
    z-index: -10;
    bottom: 15%;
    left: 45%;
}

.blob-3{
    background: #A100FF;
    background: linear-gradient(90deg, rgba(161, 0, 255, 1) 0%, rgba(7, 241, 15, 1) 100%);
    height: 260px;
    width: 260px;
    border-radius: 360px;
    filter: blur(150px);
    position: absolute;
    z-index: -10;
    top: 20%;
    right: 15%;
}

/*-- HERO-blobs-end--*/


/*-- HERO-people--*/
.people-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 52px;
}

.people-group{
    display: flex;
    align-self: auto;
}


#people-text{
    width: 126px;
    font-size: 12px;
}

.people-circle{
    border-radius: 360px;
    width: 32px;
    height: 32px;
    background-color: white;
    border: 0.2px solid white;
}

.people-circle:nth-child(1){
    background-image: url("/assets/images/img1.jpg");
    background-size: cover;
    background-position: center;
}

.people-circle:nth-child(2){
    background-image: url("/assets/images/img2.jpg");
    background-size: cover;
    background-position: center;
}

.people-circle:nth-child(3){
    background-image: url("/assets/images/img3.jpg");
    background-size: cover;
    background-position: center;
}

.people-circle:nth-child(4){
    background-image: url("/assets/images/img4.jpg");
    background-size: cover;
    background-position: center;
}

.people-circle:nth-child(5){
    background-image: url("/assets/images/img5.jpg");
    background-size: cover;
    background-position: center;
}

.people-circle:not(:first-child){
    margin-left: -16px;
}

.people-circle:hover {
    transform: scale(1.1);
    z-index: 10;
    transition: transform 0.2s ease;
}
/*-- HERO-people-end--*/

/*-- Motion--*/

.motion-section{
    padding-top: 124px;
    padding-bottom: 124px;
}

.motion-content{
    display: flex;
    gap: 40px;
}

#motion-video{
    width: 626px;
    height: 354px;
    border: 1px solid white;
}

.logo-and-section{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

#motion-h2{
    max-width: 500px;
    font-family: "Space Grotesk", sans-serif;
    margin: 26px 0 32px 0;
}

#motion-p{
    font-size: 18px;
    width: 500px;
    margin-bottom: 24px;
    line-height: 150%;
}