@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');


body{
    background-color: #0A0A0A;
    color: white !important;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

/*-- NAVBAR--*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 32px;
    padding-right: 32px;
    border-bottom: 1px solid white;
}

.logo{
    display: flex;
    width: 194px;
    height: 24px;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    color: white;

}

a:link{
    text-decoration: none;
    color: white;
}

.btn{
    width: 240px;
    height: 52px;
    border: #00FFFF solid 2px;
    filter: drop-shadow(0, 4, 4, rgba(215, 215 ,215, 0.25));
    background: none;
    color: white;
    border-radius: 8px;
}

.btn#contact-btn{
    width: 92px;
    height: 32px;
    margin-left: 32px;
}

/*-- NAVBAR end--*/


/*-- HERO--*/
.hero{
    align-items: center;
    padding: 102px 120px 102px 120px; 
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 96px;
  line-height: 120%;
  margin-top: 12px;
  margin-bottom: 28px;
}

#hero-p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 28px;
    width: 480px;
}
